################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/MDDM.DatabaseBase/obj/Debug/netcoreapp3.1
