################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/MDDM.DatabaseBase/obj/Debug/netcoreapp3.1
/MDDM.DatabaseBase/obj
/MDDM.DatabaseBase/bin
/MDDM.DatabaseBase.Oracle/bin/Debug/netcoreapp3.1
/MDDM.DatabaseBase.Oracle/obj
/MDDM.DatabaseBase.Oracle/bin/Release/netcoreapp3.1/publish
/MDDM.DatabaseBase.Oracle/bin/Release
/MDDM.DatabaseBase.Oracle/bin/Debug
/MDDM.DatabaseBase.Test/bin
/MDDM.DatabaseBase.Test/obj
